<div class="categories">
<div class="auth-nav-container">
    <%= link_to 'javascript:history.back()', class: 'nav-item' do %>
      <%= image_tag('left-arrow.png', alt: 'Back', class: 'left-arrow') %>
    <% end %>
    <h2 class="nav-items">CATEGORIES</h2>
    <%= image_tag('search.png', alt: 'Search', class: 'search') %>
</div>
<div class="totals">
  <span>
    Total for all categories: 
  </span>
  <span><%= number_to_currency(@total_amount) %></span>
</div>
<hr>
<% @groups.each do |group| %>
  <%= link_to group_entities_path(group) do %>
    <div class="categories-show-li">
      <div class="left">
        <%= content_tag(:span, raw(group.icon), class: "category-icon") %>
        <span><%= group.name %></span>
      </div>
      <div class="right">
        <%= number_to_currency(group.entities.sum(:amount)) %>
      </div>
    </div>
  <% end %>
<% end %>
<div class="add-category">
  <%= link_to new_group_path, class: 'add-category-border' do %>
  <div class="add-category-link">ADD CATEGORY</div>
  <% end %>
</div>
</div>
